extends layout

block content
  div(class="main")
    div(class="header")
      h1 About the Badladns!
    div(class="content")
      h4 What is it
      p The Badladns is an unstructured, unmanaged, and totally underfunded art collective.
      p We badladners do things together, or maybe alone and introspectively.
      p We can handle small projects and big projects, and whatever we do, we do it because we believe in doing it.
      div(class="centered")
        p We are weird, we enjoy that, and we are glad you are here.
        p ❤ Welcome to the Badladns ❤
      h4 What do we do
      p We do art
      p We do videogames 
        span(class="secret") - this is what we gathered to do in the first place
      p We do help others do things
      h4 Who are we
      div(class="character-card")
        img(src="https://dummyimage.com/128/000/fff.png&text=.__.")
        div(class="card-contents")
          div 
            span(class="card-name") Rafa de la Hoz
          div
            span
              a(href="https://twitter.com/thegraffo") @thegraffo
          div
            ul(class="card-list")         
              li Creative extraordinaire
              li Scholar of game design
              li Can barely draw
      div(class="character-card")
        img(src="https://dummyimage.com/128/000/fff.png&text=.__.")
        div(class="card-contents")
          div 
            span(class="card-name") Carlos
          div
            span
              a(href="https://twitter.com/crljmb") @crljmb
          div
            ul(class="card-list")         
              li Illustrateur magnificient
              li Technically fantastic
              li Scholar of game design