extends layout

block content
  div(class="main")
    div(class="header")
      h1 About the Badladns!
    div(class="content")
      h2 What is it
      p The Badladns is an unstructured, unmanaged, and totally underfunded art collective.
      p We badladners do things together, or maybe alone and introspectively.
      p We can handle small projects and big projects, and whatever we do, we do it because we believe in doing it.
      p We are weird, we enjoy that, and we are glad you are here.
      p Welcome to the Badladns ❤
      h2 What do we do
      p We do art
      p We do interactive media
      p We do videogames 
        span(class="secret") - this is what we gathered to do in the first place
      p We do help others do things
      h2 Who are we
      p The badladns is founded by these two handsome lads:
      div(class="character-cards")
        each card in cards
          div(class="character-card")
            img(class="character-img" src= card.img onmouseover="this.src='" + card.img_alt + "'" onmouseout="this.src='" + card.img + "'")
            div(class="card-contents")
              div 
                span(class="card-name")= card.name
              div
                span!= card.social
              div
                ul(class="card-list")
                  each trait in card.traits
                    li= trait
      p There are others that interact with us, they will find their way here eventually.
      p You can also reach us at 
        span(class="secret")
          a(href="mailto:the@badlands.com") the@badladns.com