doctype html
html
  head
    title= "Carlos Jambrina"
    meta(name="viewport" content="width=device-width, initial-scale=0.85")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css") 
    link(rel='stylesheet', href='/stylesheets/about-crljmb.css')
    block header-custom
  body
    div(class="title-header")
      h1(class="title-text") Carlos Jambrina
    div(class="main")
      h2 I made a comic!
      p
        a(href="https://the.badladns.com/projects/homebound") https://the.badladns.com/projects/homebound
      p(style="margin:0; margin-bottom:5px") Get it here:
      div(style="margin:0; margin-bottom:5px") Physical copy: 
        a(href="https://www.etsy.com/shop/crljmb?section_id=44562004") etsy
        |  | 
        a(href="https://www.radiatorcomics.com/series/homebound/") radiator comics
      div(style="margin:0; margin-bottom:5px") Digital copy: 
        a(href="https://itch.io/c/3574107/homebound-a-graphic-novel") itch.io
      p Or reach to me directly:
      h2 contact
      p 
        a(href="https://www.instagram.com/crljmb/") instagram
        |  | 
        a(href="https://twitter.com/crljmb") twitter
        |  |  
        a(href="https://crljmb.tumblr.com/") tumblr
        |  |  
        a(href="mailto:crljmb@outlook.com") email
      h2 other stuff I made?
      a(href="https://crljmb.artstation.com/") https://crljmb.artstation.com/
    div(class="footer")
      p Carlos Jambrina, 2023
