extends layout

block content
  div(class="main")
    div(class="header")
      h1 Welcome to the Badladns!
      h2 We hope you enjoy your stay
    div(class="content centered")
      div(class="picture")
        a(href=`${detail}`)
          img(src=`${image}` style="max-width: 100%; max-height: 100vh;")
        br
        span(class="card")= desc
