extends layout

block content
  div(class="main")
    div(class="header")
      h1 Projects of the Badladns
      p We badladners take on a variety of projects, of many natures. We may fail on what we do, but at least we enjoy it.
    div(class="content")
      p Content be here
