extends layout

block header-custom
  link(rel='stylesheet', href='/stylesheets/stories.css')

block content
  div(class="main")
    div(class="header")
      div(style="margin-top: 20px")
        a(href="/stories") < BACK
      h1= story.title
      h3 As told by #{story.author} on #{story.date}
      div(class="separator")
      // if (story.abstract)
      //   p= story.abstract
      //   div(class="separator")
      div(class="story-body")
        div(class="content")
        each parragraph in story.body
          p!= parragraph