extends ../layout

block header-custom
  link(rel='stylesheet', href='/stylesheets/projects.css')

block content
  div(class="main")
    div(class="header")
      div(style="margin-top: 20px")
        a(href="/stories") < BACK
      include exp-approach-tool.html