.project-card {
    border: 1.5px dashed black;
    padding: 20px;
    margin: 20px;
    width: 40%;
    min-width: 320px;
    display: inline-block;
    vertical-align: middle;

    color: black;
    text-decoration: none;
}

.project-card:hover, .project-card:hover .status {
    background: black;
    color: white;
    border-color: white;
    cursor: pointer;
    /* Slight shake anim */
    animation: shake 0.05s; 
}

.project-card::after {
    clear: both;
}

.project-card > div {
    margin-bottom: 10px;
}

.project-title {
    text-decoration: underline;
}

div.status {
    margin-bottom: 0px;
    float: right;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

div.status:hover {
    border-color: white;
}

/*
.status-released {
    background: #00E436;
    color: #008751;
    border: 1px solid #00E436;
}*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Single project page */
.project-data {
    /*margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;*/
    min-width: 450px;
}

.project-data > .left, .project-data > .right {
    padding: 5px;
    display: inline-block;
}

h4 {
    text-decoration: underline;
}

.highlight {
    text-decoration: underline;
}

.footer {
    border-top: 1px dashed black;
    margin-top: 20px;
    padding-top: 20px;
    text-align: right;
}

.separator {
    border-bottom: 1px dashed black;
}

.small-secret {
    text-align: right;
    font-size: 14px;
    color: gray;
}